@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');

body {
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', sans-serif;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 250px;
  }
  
  .login-form button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    transition: all 0.2s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: #3e8e41;
  }
  
  .login-form button:active {
    background-color: #3e8e41;
    transform: scale(0.95);
  }
  
  .login-form input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .login-form label {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
  }
  
  .login-form h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  